@model ShopViewModels.ShopModel
@using WebProjectOnAzure.ViewModels
@using WebProjectOnAzure.Data

@{
    
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
  
    <link rel="stylesheet" href="~/css/search.css" />
</head>
<body id="default_theme" class="it_service">
    
    
    
   

<!-- loader -->
<div class="bg_load"> <img class="loader_animation" src="~/images/loaders/loader_1.png" alt="#" /> </div>
<!-- end loader -->
<!-- header -->
<header id="default_header" class="header_style_1">
  <!-- header top -->
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="full">
            <div class="topbar-left">
              <ul class="list-inline">
                <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">540 Lorem Ipsum New York, AB 90218</span> </li>
                <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a></span> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 right_section_header_top">
          <div class="float-left">
            <div class="social_icon">
              <ul class="list-inline">
                <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
              </ul>
            </div>
          </div>
          <div class="float-right">
             <div class="make_appo"> <a class="btn white_btn" asp-action="Appointment" asp-controller="Home">Make Appointment</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header top -->
  <!-- header bottom -->
   <div class="header_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo"> <a asp-action="Index" asp-controller="Home"><img src="~/images/logos/it_logo.png" alt="logo" /></a> </div>
          <!-- logo end -->
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->
          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">               
                  <li> <a asp-action="AdminIndex" asp-controller="Home">Admin DashBoard</a>
               <li> <a asp-action="About" asp-controller="Home">About us</a>
                <li> <a asp-action="Service" asp-controller="Home">Service</a>
                  <ul>                   
                    <li> <a asp-action="ServiceDetail" asp-controller="Home">Service Details</a>
                  </ul>
                </li>
                <li> <a asp-action="Blog" asp-controller="Home">Blog</a>
                  <ul>                   
                    <li> <a asp-action="BlogGrid" asp-controller="Home">Blog Grid</a>                   
                  </ul>
                </li>
                <li> <a href="#">Privacy and more</a>
                  <ul>                             
                    <li> <a asp-action="Price" asp-controller="Home">Price</a>
                     <li> <a asp-action="FAQ" asp-controller="Home">FAQ</a>
                   <li> <a asp-action="Privacy" asp-controller="Home">Privacy Policy</a>
                    <li> <a asp-action="Error" asp-controller="Home">404</a>
                  </ul>
                </li>
                 <li> <a asp-action="ProductShop" asp-controller="Product">Shop</a>
                  
                </li>
                <li> <a asp-action="Contact" asp-controller="Home">Contact</a>
                  
                </li>
              </ul>
            </div>
            <div class="search_icon">
              <ul>
                <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            <partial name="_LoginPartial"/>
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  
</body>
  <!-- header bottom end -->
</header>
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>Our Products</h2>
            <p class="large">We package the products with best services to make you a happy customer.</p>
          </div>
        </div>
      </div>
    </div>
     
</div> 

  <div id="productsDiv">
        @{
            var filterviewmodel = new WebProjectOnAzure.ViewModels.ShopViewModels.FilterViewModel();
            filterviewmodel.Categories = Model.Categories;
            filterviewmodel.Pager = Model.Pager;
            filterviewmodel.CategoryID = Model.CategoryID;
            filterviewmodel.Products = Model.Products;
            filterviewmodel.SortBy = Model.SortBy;
            filterviewmodel.ShopStyle = Model.ShopStyle;
            filterviewmodel.SearchTerm = Model.SearchTerm;
            filterviewmodel.CategoryCheckIds = Model.CategoryCheckIds;
            filterviewmodel.MaximumPrice = Model.MaximumPrice;
            filterviewmodel.MinPrice = Model.MinPrice;
            filterviewmodel.InitialMaximumPrice = Model.InitialMaximumPrice;
            await Html.RenderPartialAsync("FilterForProduct", filterviewmodel);

}
            </div>
             
   
      </div> 
      
      
     
     
     
 

 

        

        
 