<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProjectOnAzure</title>
    
<!-- site icons -->
<link rel="icon" href="~/images/fevicon/fevicon.png" type="image/gif" />
<!-- bootstrap css -->
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<!-- Site css -->
<link rel="stylesheet" href="~/css/style.css" />
<!-- responsive css -->
<link rel="stylesheet" href="~/css/responsive.css" />
<!-- colors css -->
<link rel="stylesheet" href="~/css/colors1.css" />
<!-- custom css -->
 <link href="~/DashBoard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/DashBoard/css/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/custom.css" />
<!-- wow Animation css -->
<link rel="stylesheet" href="~/css/animate.css" />
@*<link rel="stylesheet" href="~/css/jquery-ui.css" />*@
<!-- revolution slider css -->
<link rel="stylesheet" type="text/css" href="~/revolution/css/settings.css" />
<link rel="stylesheet" type="text/css" href="~/revolution/css/layers.css" />
<link rel="stylesheet" type="text/css" href="~/revolution/css/navigation.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/south-street/jquery-ui.min.css" />
@*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/south-street/theme.min.css" />*@
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
        
      <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
      <script src="~/js/jquery.min.js"></script>
    <script
  src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
  integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c="
  crossorigin="anonymous"></script>
  
</head>
<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebProjectOnAzure - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
    
    
<script src="~/js/bootstrap.min.js"></script>
<!-- menu js -->
<script src="~/js/menumaker.js"></script>
<!-- wow animation -->
<script src="~/js/wow.js"></script>
<!-- custom js -->
<script src="~/js/custom.js"></script>
<!-- revolution js files -->
<script src="~/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="~/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="~/vendor/jquery/jquery.min.js"></script>

  
    <script src="~/DashBoard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/DashBoard/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/DashBoard/js/sb-admin-2.min.js"></script>
    
    <!-- Page level plugins -->
    <script src="~/DashBoard/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/DashBoard/js/demo/chart-area-demo.js"></script>
    <script src="~/DashBoard/js/demo/chart-pie-demo.js"></script>

    
      
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
