@model IEnumerable<WebProjectOnAzure.Models.Category>
<body id="default_theme" class="it_service">
<!-- loader -->
<div class="bg_load"> <img class="loader_animation" src="~/images/loaders/loader_1.png" alt="#" /> </div>
<!-- end loader -->
<!-- header -->
<header id="default_header" class="header_style_1">
  <!-- header top -->
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="full">
            <div class="topbar-left">
              <ul class="list-inline">
                <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">540 Lorem Ipsum New York, AB 90218</span> </li>
                <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a></span> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 right_section_header_top">
          <div class="float-left">
            <div class="social_icon">
              <ul class="list-inline">
                <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
              </ul>
            </div>
          </div>
          <div class="float-right">
            <div class="make_appo"> <a class="btn white_btn" href="make_appointment.html">Make Appointment</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header top -->
  <!-- header bottom -->
  <div class="header_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo"> <a href="it_home.html"><img src="~/images/logos/it_logo.png" alt="logo" /></a> </div>
          <!-- logo end -->
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->
          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                 
                  <li> <a asp-action="ShopIndex" asp-controller="Shop">IndexShop</a>
                      <ul>
                        <li> <a asp-action="Create" asp-controller="Categories">Create Category</a>
                            <li> <a asp-action="Create" asp-controller="Products">Create Products</a>
                                @*<li> <a asp-action="Shop" asp-controller="Products">Shop</a>
                                <li> <a asp-action="Index" asp-controller="ShoppingCart">Cart</a>*@
                      </ul>
                      </li>          
               <li> <a asp-action="About" asp-controller="Home">About us</a>
                <li> <a asp-action="Service" asp-controller="Home">Service</a>
                  <ul>                   
                    <li> <a asp-action="ServiceDetail" asp-controller="Home">Service Details</a>
                  </ul>
                </li>
                <li> <a asp-action="Blog" asp-controller="Home">Blog</a>
                  <ul>                   
                    <li> <a asp-action="BlogGrid" asp-controller="Home">Blog Grid</a>
                    <li> <a asp-action="BlogDetail" asp-controller="Home">Blog Detail</a>
                  </ul>
                </li>
                <li> <a href="#">Pages</a>
                  <ul>                             
                    <li> <a asp-action="Price" asp-controller="Home">Price</a>
                     <li> <a asp-action="FAQ" asp-controller="Home">FAQ</a>
                   <li> <a asp-action="Privacy" asp-controller="Home">Privacy Policy</a>
                    <li> <a asp-action="Error" asp-controller="Home">404</a>
                  </ul>
                </li>
                 <li> <a asp-action="Shop" asp-controller="Shop">Shop</a>
                  <ul>                   
                    <li> <a asp-action="ShopDetail" asp-controller="Shop">Shop Details</a>
                    <li> <a asp-action="ShoppingCart" asp-controller="Shop">Shopping</a>
                    <li> <a asp-action="CheckOut" asp-controller="home">CheckOut</a>
                  </ul>
                </li>
                <li> <a href="it_contact.html">Contact</a>
                  <ul>
                    <li><a href="it_contact.html">Contact Page 1</a></li>
                    <li><a href="it_contact_2.html">Contact Page 2</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="search_icon">
              <ul>
                <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            <partial name="_LoginPartial"/>
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>Categories</h2>
            <p class="large">Here you can chose what you want.</p>
          </div>
        </div>
      </div>
    </div>
   <div class="row">
        @foreach(var category in Model){
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
          <div class="product_img"> <img class="img-responsive" src="@category.CategoryPhoto" alt=""> </div>
          <div class="product_detail_btm">
            <div class="center">
              <li>@Html.ActionLink(category.CategoryName, 
                "ProductShop", "Product", 
                new { Category = category.CategoryName }, null)</li>
            </div>
            <div class="starratin">
              <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
            </div>
            <div class="product_price">
              <p> <span class="new_price">@category.Description</span></p>
            </div>

          </div>
        </div>
        
      </div>
   

      }
      </div>
    </body>
